@import url('https://fonts.googleapis.com/css?family=Oswald|Righteous');

body {
    font-family: 'Oswald', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../images/Ahch-To.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous', cursive;
    color: rgba(255, 255, 0, 0.9);
}

#bonus-boss, #arena, #enemy-pen {
    display: none;
}

.character {
    min-height: 250px;
    margin: 0.5rem;
    padding: 1rem;
}

#player.character {
    background-color: rgba(0, 0, 127, 0.8);
}

#enemies .character {
    background-color: rgba(127, 0, 0, 0.8);
}

#defender-area.character {
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    background-color: rgba(255, 255, 255, 0.4);
    height: 2rem;
}

@media screen and (max-width: 600px) {
    .character {
        margin: 0.5rem 0;
    }
}